body
{
font-family: fredoka one;
text-align: center;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float:right;
    border: 2px solid white;
}
li{
    text-align: left;
}
h6{
    background-color: white;
    line-height: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: nabla;
}
.modal-dialog{
    width: 60%;
}
canvas{
    border: solid 5px white;
    border-radius: 10px;
}
